input, textarea {
	width: 100%;
	margin-bottom: 10px;
	outline: 0;
}
input {
	height: 30px;
	padding: 0 15px;
}
textarea {
	max-height: 250px;
	resize: vertical;

	font-family: inherit;

	border: none;
	border-bottom: 1px solid rgb(103, 58, 183);
}


form.searchbar {
	position: relative;
	height: 46px;
	width: 100%;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}
form.searchbar input {
	height: 100%;
	padding-right: 46px;
	border: none;
}
form.searchbar input:focus {
	border: 1px solid rgb(103, 58, 183);
}
form.searchbar button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	height: 46px;
	width: 46px;
	border: none;
	outline: 0;
	color: rgb(51, 51, 51);
	background-color: transparent;
}